a#enlaces {
  font-family: bold;
  font-size: 45px;
  padding: 0px 100px 0px 0px;
}

nav#navbar {
  background: #ccc;
  background: linear-gradient(
    rgb(159, 36, 30),
    rgb(187, 62, 34),
    rgb(224, 154, 60),
    rgb(235, 189, 65),
    rgb(231, 202, 75)
  );
}

section#contenedor {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 50vh;
  /*border: solid 2px white;*/
}

main#contenedor {
  display: flex;
  flex-direction: column;
  background-image: url("/assets/fondo1.jpeg");
}

div#contenedor1 {
  width: 45%;
  height: 100%;
}

div#contenedormid {
  width: 5%;
  height: 100%;
}

div#contenedor2 {
  width: 45%;
  height: 100%;
}

div#background {
  background: #ccc;
  background: linear-gradient(
    rgb(187, 62, 34),
    rgb(224, 154, 60),
    rgb(235, 189, 65)
  );
}

/*:::::Pie de Pagina*/
a#icono {
  padding: 0px 30px 0px 0px;
}

footer#Pie_de_pagina {
  display: flex;
  flex-direction: column;
  background-color: rgb(3, 4, 61);
  height: 200px;
}

div#Primersec {
  margin: auto;
}

div#Segundasec {
  background-color: rgb(0, 1, 39);
}

div#iconos {
  display: flex;
  flex-direction: row;
}
