a#enlaces {
  font-family: bold;
  font-size: 45px;
  padding: 0px 100px 0px 0px;
}

nav#navbar {
  background: #ccc;
  background: linear-gradient(
    rgb(159, 36, 30),
    rgb(187, 62, 34),
    rgb(224, 154, 60),
    rgb(235, 189, 65),
    rgb(231, 202, 75)
  );
}

section#contenedor {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 55vh;
  /*border: solid 2px black;*/
}

main#contenedor {
  display: flex;
  flex-direction: column;
  background-image: url("/assets/wood_pattern_@2X.png");
}

div#contenedor1 {
  width: 50%;
  height: 100%;
  background-color: aquamarine;
}

div#contenedor2 {
  width: 50%;
  height: 100%;
}

div#background {
  background: #ccc;
  background: linear-gradient(
    rgb(187, 62, 34),
    rgb(224, 154, 60),
    rgb(235, 189, 65)
  );
}
